<?xml version="1.0" ?>
<robot name="DCS Native ROS2 LiDAR">
    <webots>
        <device reference="lidar" type="Lidar">
            <ros>
                <enabled>true</enabled>
                <updateRate>25</updateRate>
                <topicName>/scan_raw</topicName>
                <alwaysOn>true</alwaysOn>
                <frameName>base_laser</frameName>
            </ros>
        </device>
    </webots>
</robot>
